// Background pattern from subtlepatterns.com

-var gamemodes = ['Bombs', 'Hostage', 'Capture Site'];

doctype html
html(lang="en-US")
    head
        block title
            title R6|S - stratroulette.net

        include meta
        meta(name="viewport" content="width=device-width, initial-scale=1")

        include ../dist
        link(rel="stylesheet" href="/siege/css/style.css")
        if(holiday !== "normal")
            link(rel="stylesheet" href="/season-themes/" + holiday + "/style.css")

        block head
            script#tempscript1.
                var _settings = !{JSON.stringify(settings)};
                var _settingsMeta = !{JSON.stringify(settingsMeta)};
                var clientIP = "!{ip}";
                var mobile = false;
                var device = "!{device_type}";
                var deviceIsMobile = !{is_mobile};
                var el = document.getElementById('tempscript1');
                el.outerHTML = "";
                delete el;

            script(src="/dist/js/autosize.min.js")
            script(src="/dist/js/jquery-bigtext.js")
            script(src="/siege/js/stratpage.js")

            script.
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
                ga('create', 'UA-87690373-1', 'auto');
                ga('send', 'pageview');

    body
        #header
            img(src="/siege/img/logos/" + holiday + ".png" alt="Rainbow 6 Siege" id="logo")

        if(holiday !== "normal")
            #holiday-overlay

        #content
            block content
                table(id="top" role="presentation")
                    td.team-button ATK
                    td#name-container
                        div#names
                            div.name-wrapper(class="1")
                                p.name.bigText &#8592; Click on a team to begin! &#8594;
                            div.name-wrapper(class="2")
                                img.name(src="/siege/img/load.gif")
                            div.name-wrapper(class="3")
                                p.name.bigText empty
                    td.team-button DEF

                #gamemode-selection
                    -var i = 0;
                    each val in gamemodes
                        -var lowerVal = val.toLowerCase().replace(' ', '');
                        span.gamemode-button
                            input.gm-checkbox(id="gm-checkbox-" + lowerVal type="checkbox")
                            label(for="gm-checkbox-" + lowerVal style="background: url(./siege/img/icons/" + lowerVal + ".png)")
                        if(i < 2)
                            span.divider
                            -i++;

                #center
                    block center
                        #desc.text-center
                            div.
                                Rules<br><hr>
                                Get a fun strat to play in Rainbow Six Siege!<br>
                                Get a new strat every round.<br>
                                Try to win while following the strat to the letter!<br>

                        if(holiday !== "normal")
                            #pause-button(onclick="toggleHolidayAnimation()")

                #action-bar
                    block bottom
                        a(href="javascript:" target="_blank")
                            span#author
                                img.strat-button.submission(src="/siege/img/icons/submission.png")
                                img.strat-button.reddit.hidden(src="/siege/img/icons/redditsnoo.png")
                                img.strat-button.youtube.hidden(src="/siege/img/icons/youtube.png")
                                img.strat-button.twitch.hidden(src="/siege/img/icons/twitch.png")
                                p Author

                        span#strat-options
                            span.strat-button.disabled#like-counter 0
                            img.strat-button.disabled.like(src="/siege/img/icons/like.png")
                            img.strat-button.disabled.feedback(title="feedback" src="/siege/img/icons/feedback.png")
                            img.strat-button.submit.tooltip(title="submit" src="/siege/img/icons/suggest.png")
                            img.strat-button.settings(src="/siege/img/icons/settings.png" onclick="openSettings()")

                #bottom
                    .bottom-container.
                        Please only play strats as a five man group. Don't ruin other people's games.
                    .bottom-container
                        p Help keep the server running
                        form#donate-button(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                            input(type='hidden', name='cmd', value='_s-xclick')
                            input(type='hidden', name='hosted_button_id', value='T6GN3VHNAS4RJ')
                            input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', name='submit', alt='PayPal - The safer, easier way to pay online!')
                        p &#9830; Source code available on
                        a(href="https://github.com/BeeeQueue/stratroulette-net" target="_blank")
                            p GitHub
                            img(src="/siege/img/github-logo.png")
                        p &#9830; Contact: contact@stratroulette.net

        if(settings.disableAds == 0)
            #footer
                #desperate-plead.
                    This is where an ad would appear if it didn't fail to load!<br>
                    You can completely disable all ads in the settings.
                #ad-container
                    script(async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                    // s-net - Responsive Bottom
                    ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-2760086516112871" data-ad-slot="3859200341" data-ad-format="auto" data-full-width-responsive="true")
                    script.
                        (adsbygoogle = window.adsbygoogle || []).push({});


        #dialogue-container(onclick="closeAllDialogues();$('body').unbind('touchmove');")
            #feedback-window.c-dialogue(style="display:none")
                h1.d-title Give Feedback

                input.d-textinput#feedback-msg(type="text" title="Req. length: 6 to 35")
                br
                span.d-button#feedback-submit Submit
                p.d-error#feedback-error(style="display:none") Error message
                img.d-success(src="/siege/img/check.png" style="display:none")

            #submission-window.c-dialogue(style="display:none")
                h1.d-title Submit a Strat
                p.d-info Author and Strat Name follow the following rules:
                p.d-info(style="margin-top:-5px;") 3 to 20 alphanumerical characters and - _ /

                p.d-info.bold Author
                input.d-textinput#submission-author(title='"/u/[username]" to link to reddit user' type="text" maxlength="20")

                p.d-info.bold Strat Name
                input.d-textinput#submission-stratname(type="text" maxlength="20")

                p.d-info.bold Description
                textarea.d-textarea#submission-msg(title="Max length: 450" maxlength='450')

                p.d-info.bold Team
                select.d-combobox#submission-team
                    each val in ['ATK', 'DEF', 'BOTH']
                        option(value=val.toLowerCase())=val

                p.d-info.bold Gamemodes
                .d-wrapper#submission-gamemodes
                    each val in gamemodes
                        -var lowerVal = val.toLowerCase().replace(' ', '');
                        .d-checkbox-wrapper
                            span.d-checkbox-info(style="float:left")=val
                            .checkbox-wrapper.d-checkbox
                                input(id='submission-checkbox-' + lowerVal type='checkbox')
                                label(for='submission-checkbox-' + lowerVal)

                br
                span.d-button#submission-submit Submit
                p.d-error#submission-error(style="display:none") Error message
                img.d-success(src="/siege/img/check.png" style="display:none")

            #settings-window.c-dialogue(style="display:none")
                .d-title Settings

                each setting in settingsMeta
                    -var id = 'setting-' + setting.id;
                    .setting-wrapper
                        span=setting.desc
                        .checkbox-wrapper
                            input.settings-checkbox(id=id type='checkbox')
                            label(for=id)
                .d-info requires refresh
                hr

                .disclaimer
                    | Background patterns from
                    a(href='http://www.subtlepatterns.com' target="_blank" title='subtlepatterns') subtlepatterns.com<br>
                .disclaimer
                    | Icons made by
                    a(href='http://www.freepik.com' target="_blank" title='Freepik')="Freepik, "
                    a(href='http://www.flaticon.com/authors/google' target="_blank" title='Google')="Google, and "
                    a(href='http://www.flaticon.com/authors/madebyoliver' target="_blank" title='Madebyoliver')="Madebyoliver "
                    br
                    | from
                    a(href='http://www.flaticon.com' target="_blank" title='Flaticon')=" flaticon.com are licensed with "
                    a(href='http://creativecommons.org/licenses/by/3.0/' title='Creative Commons BY 3.0' target='_blank')="CC 3.0 BY"
