//
   Created by bq on 2016-04-04.
   Background pattern from subtlepatterns.com

-var gamemodes = ['Bombs', 'Hostage', 'Capture Site'];

doctype html
html(lang="en-US")
    head
        block title
            title R6|S - stratroulette.net

        include meta
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui")

        include ../dist
        link(rel="stylesheet" href="/siege/css/mobile.css")
        if(holiday !== "normal")
            link(rel="stylesheet" href="/season-themes/" + holiday + "/style.css")

        block head
            script.
                var _settings = !{JSON.stringify(settings)};
                var _settingsMeta = !{JSON.stringify(settingsMeta)};
                var clientIP = "!{ip}";
                var mobile = true;
                var device = "!{device_type}";
                var deviceIsMobile = !{is_mobile};

            script(src="/dist/js/jquery-bigtext.js")
            script(src="/siege/js/stratpage.js")

            script.
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
                ga('create', 'UA-87690373-1', 'auto');
                ga('send', 'pageview');

    body
        #top
            div#names
                div.name-wrapper(class="1")
                    p.name.bigText Tap on a team to begin!
                div.name-wrapper(class="2")
                    img.name(src="/siege/img/load.gif")
                div.name-wrapper(class="3")
                    p.name.bigText empty

        #content
            #center(style="background-image :url('/siege/img/logos/" + holiday + ".png')")
                block center
                    img.hidden.strat-button.settings-button(src="/siege/img/icons/settings.png" onclick="openSettings()")

                    #desc

        #bottom
            a.hidden#author-container(href="javascript:" target="_blank")
                span#author
                    p Author
                    img.submission(src="/siege/img/icons/submission.png")
                    img.reddit.hidden(src="/siege/img/icons/redditsnoo.png")
                    img.youtube.hidden(src="/siege/img/icons/youtube.png")
                    img.twitch.hidden(src="/siege/img/icons/twitch.png")

            #action-bar.hidden
                span.strat-button.disabled#like-counter 0
                img.strat-button.disabled.like(src="/siege/img/icons/like.png")

            #gamemode-selection
                -var i = 0;
                each val in gamemodes
                    -var lowerVal = val.toLowerCase().replace(' ', '');
                    span.gamemode-button
                        input.gm-checkbox(id="gm-checkbox-" + lowerVal type="checkbox")
                        label(for="gm-checkbox-" + lowerVal style="background: url(./siege/img/icons/" + lowerVal + ".png)")
                    if(i < 2)
                        span.divider
                        -i++;

            #team-container
                span.team-button ATK
                span.team-button DEF

            if(settings.disableAds == 0)
                #anchor-ad
                    #desperate-plead.
                        This is where an ad would appear if it didn't fail to load!<br>
                        You can completely disable all ads in the settings.
                    #ad-container
                        script(type="text/javascript" src="//ubercpm.com/show.php?z=27&pl=79125&j=1")

        #dialogue-container(onclick="closeAllDialogues()")
            #settings-window.m-dialogue(style="display:none;")
                p.md-title Settings

                each setting in settingsMeta
                    -var id = 'setting-' + setting.id;
                    .setting-wrapper
                        span=setting.desc
                        .checkbox-wrapper
                            input.settings-checkbox(id=id type='checkbox')
                            label(for=id)
                .disclaimer requires refresh  
                hr

                .disclaimer
                    | Background patterns from 
                    a(href='http://www.subtlepatterns.com', title='subtlepatterns') subtlepatterns.com<br>
                .disclaimer
                    | Icons made by 
                    a(href='http://www.freepik.com', title='Freepik') Freepik
                    |  and 
                    a(href='http://www.flaticon.com/authors/google', title='Google') Google
                    br
                    |  from 
                    a(href='http://www.flaticon.com', title='Flaticon') flaticon.com
                    |  are licensed by 
                    a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY

                .md-button-wrapper
                    span.md-button(onclick="closeAllDialogues();") Close
